header {
    .spasalon-header {
        .navbar-collapse {
            &.mobile-menu-modern {
                background: #232323;
            }
        }
    }
}

.text-overlap {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


